﻿@using Umbraco.Core
@using Umbraco.Web
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    List<string> indexFollow = new List<string>();
    if (CurrentPage.seoNoIndex != null)
    {
        if (CurrentPage.seoNoIndex == true)
        {
            indexFollow.Add("NoIndex");
        }
    }
    if (CurrentPage.seoNoFollow != null)
    {
        if (CurrentPage.seoNoFollow == true)
        {
            indexFollow.Add("NoFollow");
        }
    }
    string title = Umbraco.Field("siteName", insertAfter: " - ", recursive: true) + Umbraco.Coalesce(Umbraco.Field("pageTitle"), Umbraco.Field("pageName"));
    string nodeUrl = CurrentPage.Url;
    var canonicalUrl = new UriBuilder(Uri.UriSchemeHttp, HttpContext.Current.Request.Url.Host, HttpContext.Current.Request.Url.Port, nodeUrl).Uri.ToString();
	var description = Model.Content.GetPropertyValue<string>("metaDescription", true);
}

<title>@title</title>

@if (indexFollow.Count > 0)
{
    <meta name="robots" content="@string.Join(",", indexFollow)" />
}
<link rel="canonical" href="@canonicalUrl" />

@if (description.IsNullOrWhiteSpace() == false)
{
    <meta name="description" content="@description">
}