﻿@using Umbraco.Core.Models
@using Umbraco.Web
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    var content = Model.Content;
    var title = content.HasValue("ogTitle") ? content.GetPropertyValue<string>("ogTitle") : string.Empty;
    var description = content.HasValue("ogDescription") ? content.GetPropertyValue<string>("ogDescription") : string.Empty;
    var image = content.HasValue("ogImage") ? content.GetPropertyValue<IPublishedContent>("ogImage") : null;
}

@if (!string.IsNullOrEmpty(title) && !string.IsNullOrEmpty(description))
{
    <meta property="og:url" content="@Model.Content.Url" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="@title" />
    <meta property="og:description" content="@description" />
    if (image != null)
    {
        <meta property="og:image" content="@image.Url" />
        <meta property="og:image:width" content="@(image.GetPropertyValue<string>("umbracoHeight"))" />
        <meta property="og:image:height" content="@(image.GetPropertyValue<string>("umbracoWidth"))" />
    }

}
