﻿@using System.Web.Mvc.Html
@using ClientDependency.Core.Mvc
@using Umbraco.Web
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;

    var siteNode = Model.Content.AncestorOrSelf<boekanier.PublishedContentModels.Site>(1);
    var languageNode = Model.Content.AncestorOrSelf<boekanier.PublishedContentModels.Language>(2);
    var homeNode = languageNode.Home.First();

    //Html.RequiresCss("~/Css/responsive.min.css");
    Html.RequiresCss("~/Css/base.min.css");

    //Html.RequiresJs("~/Scripts/jquery.min.js");
    //Html.RequiresJs("~/Scripts/responsive.min.js");
}
<!DOCTYPE html>
<html>
<head>
    @if (string.IsNullOrWhiteSpace(siteNode.TagManagerCodeHead) == false) //Google tag manager
    {
        @Html.Raw(siteNode.TagManagerCodeHead);
    }
    <meta content="width=device-width,initial-scale=1,maximum-scale=1" name="viewport" />
    @Html.Partial("MetaTags")
    @RenderSection("Meta", required: false)
    @Html.Partial("OpenGraph")

    @* css *@
    @Html.RenderCssHere()
    @* javascript *@
    @Html.RenderJsHere()
    @* icon font  *@
</head>
<body>
    @if (string.IsNullOrWhiteSpace(siteNode.TagManagerCodeBody) == false) //Google tag manager
    {
        @Html.Raw(siteNode.TagManagerCodeBody)
    }
    <div id="main">
        <div class="container">
            <header>
                @if (languageNode.Logo != null)
                {
                    <img src="@(languageNode.Logo.Url)" />
                }

                @*Navigation*@
                @*Standaard desktop Navigation*@
                <div class="hidden-xxs hidden-xs hidden-s nav-wrapper">
                    <nav class="main-navigation">
                        <a class="nav-item @(homeNode == Model.Content ? "active" : "")" href="@homeNode.Url">@homeNode.Name</a>
                        @foreach (var item in languageNode.Menu)
                        {
                            <a class="nav-item @(item == Model.Content ? "active" : "")" href="@item.Url">@item.Name</a>
                        }
                    </nav>
                </div>

                @*Standard ResposiveBP menu only shown on smaller screens*@
                <div class="visible-xxs visible-xs visible-s">
                    <nav role="navigation" data-navigation="" class="mobile-navigation" id="navigation-O2vmmwLE">
                        <button aria-controls="navigation-O2vmmwLE" aria-expanded="false">Menu</button>
                        <a class="nav-item @(homeNode == Model.Content ? "active" : "")" href="@homeNode.Url">@homeNode.Name</a>
                        @foreach (var item in languageNode.Menu)
                        {
                            <a class="nav-item @(item == Model.Content ? "active" : "")" href="@item.Url">@item.Name</a>
                        }
                    </nav>
                </div>
            </header>
            <div class="content">
                @RenderBody()
            </div>
            <footer>
                <div class="block-row-s-3">
                    <div>
                        <div class="footer-contact">
                            @if (languageNode.ContactImage != null)
                            {
                                <img src="@languageNode.ContactImage.GetCropUrl(height:80)" />
                            }
                            <p>@languageNode.Phone</p>
                            <p>@languageNode.Email</p>

                        </div>
                    </div>
                    <div>
                        <nav class="footer-nav">
                            @foreach (var item in languageNode.Links)
                            {
                                <p><a class="nav-item @(item == Model.Content ? "active" : "")" href="@item.Url">@item.Name</a></p>
                            }
                        </nav>
                    </div>
                    <div>
                        <p>
                            <a href="@languageNode.Facebook">Facebook</a>
                        </p>
                        <p>
                            <a href="@languageNode.Twitter">Twitter</a>
                        </p>
                        <div class="language-choice">
                            @foreach (var language in siteNode.Children())
                            {
                                <a href="@(language.Url)">@language.Name</a>
                            }
                        </div>
                    </div>
                </div>
                <div>
                    <span class="push">@languageNode.Trademark</span>
                </div>
            </footer>
        </div>
    </div>
    @RenderSection("ScriptsFooter", required: false)
</body>
</html>
