﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<boekanier.PublishedContentModels.NewsArea>

@using Examine
@{
    Layout = "Master.cshtml";


    // A custom examine index was build to spead up searching of the partial lists.
    var searcher = ExamineManager.Instance.SearchProviderCollection["NewsSearcher"];
    var postsCriteria = searcher.CreateSearchCriteria(UmbracoExamine.IndexTypes.Content);

    var recentNewsFilter = postsCriteria.Range("postDate", DateTime.Now.AddDays(-7), DateTime.Now).Compile(); // last 7 days
    var recentNews = searcher.Search(recentNewsFilter).OrderByDescending((r => r.Fields["postDate"]));

    searcher = ExamineManager.Instance.SearchProviderCollection["NewsSearcher"];
    postsCriteria = searcher.CreateSearchCriteria(UmbracoExamine.IndexTypes.Content);
    var pastNewsFilter = postsCriteria.Range("postDate", DateTime.Now.AddDays(-365), DateTime.Now.AddDays(-7)).Compile(); // last year minus the previous week
    var pastNews = searcher.Search(pastNewsFilter).OrderByDescending((r => r.Fields["postDate"]));

    searcher = ExamineManager.Instance.SearchProviderCollection["NewsSearcher"];
    postsCriteria = searcher.CreateSearchCriteria(UmbracoExamine.IndexTypes.Content);
    var archivedNewsFilter = postsCriteria.Range("postDate", DateTime.MinValue, DateTime.Now.AddDays(-365)).Compile(); // anything older than a year
    var archivedNews = searcher.Search(archivedNewsFilter).OrderByDescending((r => r.Fields["postDate"]));
}
    <div>
        <h2>This week</h2>
        @foreach (var news in recentNews.Take(5))
        {
            @NewsItem(news);
        }
        <a>More recent news</a>
    </div>
    <div>
        <h2>Past news</h2>
        @foreach (var news in pastNews.Take(5))
        {
            @NewsItem(news);
        }
        <a>More past news</a>
    </div>
    <div>
        <h2>Archive news</h2>
        @foreach (var news in archivedNews.Take(5))
        {
            @NewsItem(news);
        }
        <a>More Archived news</a>
    </div>

@* As much information as possible is stored in the index to not have to fetch the full node from cache or db
   If you want to add fields, add them in examineIndex.config and rebuild the index. *@
@helper NewsItem(SearchResult news)
{
    <h3>@(news.Fields["title"])</h3>
    <p>@(news.Fields["summary"])</p>
}