﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<boekanier.PublishedContentModels.NotFound>
@{
    Layout = "Master.cshtml";
}
@section Meta{
    <meta name="robots" content="nofollow" />
}

<h1>@Model.Content.Title</h1>
<div>@Html.Raw(Model.Content.GridContent)</div>
