﻿@using Umbraco.Core.Models
@using Umbraco.Web
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<?xml version="1.0" encoding="UTF-8" ?>
@{
    Response.Clear();
    Response.ContentType = "text/xml";
    var htmlErrorDoctypes = new[] {"notFound"}; //Change this to Html error pages doctype names
}
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    @ListChildNodes(Model.Content.AncestorOrSelf(1), htmlErrorDoctypes)
</urlset>

@helper ListChildNodes(IPublishedContent startNode, string[] htmlErrorDoctypes)
{

const int maxLevelForSitemaps = 100;

foreach (var node in startNode.Children<DamPee.PublishedContentModels.BaseSeo>()
    .Where(n => Umbraco.MemberHasAccess(n.Path))
    .Where(n => !Umbraco.IsProtected(n.Path))
    //.Where(n => n.GetPropertyValue<bool>("umbracoNaviHide") != true) // Google should still index pages that are not in the navigation 
    .Where(n => n.SeoNoIndex != true)
    .Where(n => htmlErrorDoctypes.Contains(n.DocumentTypeAlias) == false)
)
{
    if (node.TemplateId != 0)
    {
        <url>
            <loc>@node.TemplateId @(new UriBuilder(Uri.UriSchemeHttp, HttpContext.Current.Request.Url.Host, HttpContext.Current.Request.Url.Port, node.Url).Uri)</loc>
            <lastmod>@(string.Format("{0:s}+00:00", node.UpdateDate))</lastmod>
            @if (string.IsNullOrWhiteSpace(node.GetPropertyValue<string>("siteMapChangeFrequency")) == false)
            {
                <changefreq>@(node.GetPropertyValue<string>("siteMapChangeFrequency"))</changefreq>
            }
            @if (string.IsNullOrWhiteSpace(node.GetPropertyValue<string>("siteMapPriority")) == false)
            {
                <priority>@(node.GetPropertyValue<string>("siteMapPriority"))</priority>
            }
        </url>
    }
    if (node.Level <= maxLevelForSitemaps && node.Children.Any())
    {
            @ListChildNodes(node, htmlErrorDoctypes)
    }
}
}