﻿@using Umbraco.Web
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<boekanier.PublishedContentModels.TextPage>
@{
    var title = Umbraco.Coalesce(Model.Content.Name);
    Layout = "Master.cshtml";
}

    <h1>@title</h1>
    @Html.GetGridHtml(Model.Content, "gridContent", "Responsivebp")
