﻿<div class="span12">
    <h3>
        <strong>Welkom</strong>
    </h3>
    <!--<p>Mocht u hulp nodig hebben, dan kan u één van de volgende hulpmiddelen gebruiken.</p>-->

    <div class="row">
        <div class="span4">
            <h4>Contacteer ons</h4>
            <p>
                Umbrace<br/>
                Borsbeeksebrug 6/64<br/>
                2600 Antwerpen – Berchem<br/>
            </p>
            <p>
                <a href="mailto:team@umbrace.be">team@umbrace.be</a><br/>
                <a href="tel:+3233662332">03 366 23 32</a>
            </p>
        </div>
    </div>
    
</div>